
header {
	display: inline;
	grid-column-start: 1;
	grid-column-end: 3;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0px 13px 25px 0px rgba(0,0,0,);
	overflow: visible;
	background: #dddddd;
	padding: 0.75em 0;
}

.menu {
	display: inline-block;
	list-style-type: none;
	padding: .5em;
}

.sidebar-toggler {
	margin-top: 0;
}

.menu > li {
	font-size: 20px;
}

.menu > li > a {
	text-decoration: none;
	max-width: 64px;
	color:black;
}

#hamburger {
	max-width: 64px;
	max-height: 64px;
	cursor: pointer;
	background-color : #dddddd;
	border: solid 2px;
	border-radius: 4px;
	margin-right: 10px;
}

#icon {
	font-size: 20px;
	padding: 0 10px;
}

@media (max-width: 800px){
	nav {
		padding: 0.85rem;
	}

	.menu > li {
		font-size: 16px;
	}
}

@media (max-width: 1015px){
    nav {
		padding: 0.85rem;
	}

	.menu > li {
		font-size: 18px;
	}
}

